* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
  background: #ffffff;
  font-size: 13px;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.header {
  height: 70px;
  padding: 22px 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo img {
  width: 88px;
  height: auto;
  display: block;
}

nav {
  display: flex;
  gap: 42px;
  font-weight: 700;
}

nav a {
  padding-bottom: 4px;
}

nav a.active {
  border-bottom: 1px solid #000;
}

main {
  padding: 0 25px;
}

.intro {
  margin-top: 185px;
  margin-bottom: 110px;
  max-width: 1100px;
}

.intro-title {
  margin: 0;
  font-size: 30px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.intro-title strong {
  display: inline-block;
  font-size: 64px;
  font-weight: 700;
  line-height: 0.9;
  letter-spacing: -0.07em;
  margin-right: 10px;
}

.intro-sub {
  margin: 36px 0 0;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.055em;
  max-width: 1100px;
}

.exhibition {
  margin-bottom: 72px;
  padding-bottom: 24px;
}

.section-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-head h2 {
  margin: 0;
  font-size: 15px;
  font-weight: 800;
}

.section-head a {
  font-size: 12px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0,360px));
  gap: 28px;
}

.project-card img {
  width: 360px;
  aspect-ratio: 4/5;
  object-fit: cover;
}

.project-info {
  margin-top: 14px;
  padding-left: 28px;
  font-size: 12px;
  line-height: 1.4;
}

.project-info p {
  margin: 0;
}

.project-title {
  font-weight: 500;
}

.project-date {
  margin-top: 4px !important;
  color: #000;
}

.ui-section {
  margin-top: 96px;
  padding: 52px 0 60px;
  background: #e8e8e8;
  margin-left: -25px;
  margin-right: -25px;
  padding-left: 25px;
  padding-right: 25px;
}

.ui-card {
  width: 1000px ;
  max-width: 100%;
  /* padding: 18px;
  background: #fff;
  border: 1px solid #e5e5e5; */
}

.ui-card img {
  height: auto;
  object-fit: contain;
}

.about {
  margin-top: 40px;
  padding-bottom: 65px;
  padding-top: 36px;
}

.about button {
  width: 100px;
  height: 42px;
  background: #fff;
  border: 1px solid #000;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 18px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}

.contact {
  font-size: 13px;
  line-height: 1.35;
}

.contact p {
  margin: 0 0 5px;
}

.about-grid img {
  height: 420px;
}

footer {
  border-top: 1px solid #ddd;
  padding: 38px 25px;
  font-size: 12px;
}

.top-btn {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 42px;
  height: 42px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

@media (max-width: 768px) {
  .header {
    height: auto;
    flex-direction: column;
    gap: 25px;
  }

  nav {
    gap: 18px;
    flex-wrap: wrap;
  }

  .intro {
    margin-top: 90px;
    margin-bottom: 70px;
  }

  .intro-title {
    font-size: 24px;
  }

  .intro-title strong {
    font-size: 52px;
  }

  .intro-sub {
    font-size: 30px;
  }

  .project-grid,
  .about-grid {
    grid-template-columns: 1fr;
  }

  .project-card img,
  .about-grid img {
    height: auto;
  }

  .project-info {
    padding-left: 0;
  }

  .section-head {
    align-items: flex-start;
  }

  .ui-section {
    margin-top: 70px;
    padding-top: 40px;
    padding-bottom: 44px;
  }

  .ui-card {
    width: 100%;
    padding: 12px;
  }
}